<!DOCTYPE html>
<html>
    <head>
        <title>EcoBot - Economy Discord Bot</title>
        <link rel="shortcut icon" href="/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
        
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://ecobot.syclesdev.com" />
        <meta property="og:title" content="EcoBot - Economy Discord Bot" />
        <meta property="og:description" content="EcoBot Home Page" />
        <meta property="og:image" content="https://cdn.discordapp.com/avatars/776935174222249995/8eba884b7181fd550a1796554b59e0a5" />
        <meta name="og:image" itemprop="image" content="/assets/icon.png">
        <meta name="theme-color" content="#fb8b24">
    </head>
    <body>
        <header class="index">
            <span class="name">EcoBot</span>
            <nav class="ListNav">
                <ul class="NavButtons">
                    <li>
                        <a href="/invite">Invite Bot</a>
                    </li>
                    <li>
                        <a href="/top">Top Users</a>
                    </li>
                    <li>
                        <a href="/vote">Vote</a>
                    </li>
                    <li>
                        <a href="/docs">Documentation</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="HeroHeader">
            <h1>EcoBot</h1>
            <p>Economy discord bot with 20+ commands.</p>
            <div class="HeroButtons">
                <div class="ButtonWrapper">
                    <button onclick="location.href='/invite'" class="button blue">Add to Server</button>
                </div>
                <div class="ButtonWrapper">
                    <button onclick="location.href='/docs'" class="button gray">Docs</button>
                </div>
            </div>
        </div>
    </body>
</html>